+contentHeader(title='schedules.override')
.content
  .row
    .col-md-12
      +dataTable(
        title='schedules.override'
        newTitle='schedules.overrideNew'
        newRoles='schedules-edit,admin'
        table=table
        id='overrideTable'
        formTemplate=formTemplate
      )
