.box.box-widget
  .box-header
    h4.username.enable-select #{firstName} #{lastName}
      if privatePatient
        small {{_ 'inboundCalls.private'}}
      else
        small {{_ 'inboundCalls.insurance'}}
    h3.description.enable-select {{zerofix telephone}}

  .box-body
    blockquote
      p.enable-select.pre-wrap #{note}

    | {{> humanCommentCount }}
    | {{> stamps fields='removed,created' doc=this}}

  div
    +React(component=CommentsContainer docId=_id)

  .box-footer
    unless removedAt
      a.resolve {{_ 'inboundCalls.resolve'}}
    else
      a.unresolve {{_ 'inboundCalls.unresolve'}}
