<!DOCTYPE html>
<html>
<head>
  <title>Rosalind</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to _('New Call'), new_call_path %>
  <%= link_to _('Open Calls'), calls_path %>
</nav>
<%= yield %>

</body>
</html>
